body {
    background: #161616;
    color: #bdbdbd;
    font-weight: 300;
    height: 100vh;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#container {
    background-color: white;
    height: 50px;
    /*Probably hide next one*/
    width: 420px;
}

#itemDescribe {
    height: 88%;
    font-size: 25px;
    border: 0;
    outline:none;
}

#colorPicker {
    display:inline-block;
}

#addButton {
    height: 75%;
    width: 10%;
    border: 0;
    color: white;
    background-color: #15ab99;
    border-radius: 5px;
    outline:none;
}

input[type=radio] {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

td {
    /* width: 207px; */
    border: 1px solid white;
    color: white;
    height: 50px;
    font-size: 22px;
    text-align: center;
    align-content: center;
    align-items: center;
    vertical-align: middle;
    left: 100px;
}

#list {
    position: relative;
    margin: 0;
    border-radius: 4px;
    border: 1px solid white;
    border-collapse: collapse;
    width: 419px;
}

label {
    --colorLabel_1: red;
    --colorLabel_2: green;
    --colorLabel_3: blue;
    outline:none;
    cursor:pointer;
    height: 15px;
    width: 15px;
    font-size: 20px;
}

label[for="red"] {
    text-decoration-color: var(--colorLabel_1);
    color:var(--colorLabel_1);
    background-color: var(--colorLabel_1);
}

label[for="green"] {
    text-decoration-color: var(--colorLabel_2);
    color:var(--colorLabel_2);
    background-color: var(--colorLabel_2);
}

label[for="blue"] {
    text-decoration-color: var(--colorLabel_3);
    color:var(--colorLabel_3);
    background-color: var(--colorLabel_3);
}

/*Doesn't work properly =( */
/*input [type=checkbox] {*/
/*}*/