body {
    background: #161616;
    font-weight: 300;
    height: 100vh;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#container {
    background-color: white;
    height: 40px;
    /*Probably hide next one*/
    width: 420px;
    margin: 0;
    flex-direction: column;
}

#itemDescribe {
    font-size: 25px;
    border: 0;
    outline:none;
    margin: 0;
    left:0;

}

#colorPicker {
    display:inline-block;
}

#addButton {
    height: 75%;
    width: 10%;
    border: 0;
    color: white;
    background-color: #15ab99;
    border-radius: 5px;
    outline:none;
}

input[type=radio] {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

#list {
    margin-top: 5px;
    border-radius: 4px;
    border: 1px solid white;
    border-collapse: collapse;
    width: 420px;
}

td {
    /* width: 207px; */
    border: 1px solid white;
    color: white;
    height: 50px;
    font-size: 22px;
    text-align: center;
    align-content: center;
    align-items: center;
    vertical-align: middle;
    left: 100px;
}

.colorPicker {
    /*--colorLabel_1: red;*/
    /*--colorLabel_2: green;*/
    /*--colorLabel_3: blue;*/
    display: inline-block;
    outline:none;
    cursor:pointer;
    height: 15px;
    width: 15px;
}

.btn1  {
    width: 15px;
    height: 15px;
    background-color: red;
    display: inline-block;
}
.btn2  {
    width: 15px;
    height: 15px;
    background-color: green;
    display: inline-block;
}
.btn3  {
    width: 15px;
    height: 15px;
    background-color: blue;
    display: inline-block;
}